
.cart-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.cart-widget__icon {
  font-size: 1.8rem;
}


.cart-widget__badge {
  position: static;
  margin-left: 6px;
  background: #00bcd4;
  color: #fff;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 0.9rem;
  font-weight: bold;
}
